.container {
    position: relative;
    background-color: #568cd2;
    height: 100vh;
    width: 100vw;
}

.character {
    position: absolute;
    display: block;
    height: 100px;
    width: 100px;
    bottom: 0;
    left: 0;
    background-color: #ffd600;
}