@import "src/../../../globals.module.scss";

.wrapper {
  height: 50vh;
  width: 80vw;
  margin: 10vh auto;
}

.container {
  position: relative;
  background-color: $blue;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: $border-sizing;
  border: 0;
}

.character {
  position: absolute;
  display: block;
  height: 100px;
  width: 100px;
  bottom: 0;
  left: 0;
  background-color: $red;
  border-radius: $border-sizing;
  border: 0;
}

.stage {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  height: 50vh;
  width: calc(10 * 100vw);
}

.block {
  position: absolute;
  display: block;
  height: 200px;
  width: 80px;
  bottom: 0;
  left: 0;
  background-color: $yellow;
  border-radius: $border-sizing;
  border: 0;
}

.scoreboard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.score {
  font-size: $font-size2;
  color: $light-blue;
  font-weight: $not-bold;
}

.highscore {
  position: absolute;
  top: 0;
  right: 0;
  font-size: $font-size1;
  color: $light-blue;
  border: 0;
  padding: 20px;
  font-weight: $not-bold;
}