@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$blue: #2886E7;
$red: #EF476F;
$light-blue: #D6EFFF;
$black: #0F0A0A;
$yellow: #F0E100;
$border-sizing: 20px;
$font-size1: 20px;
$font-size2: 60px;
$bold: 700;
$not-bold: 400;

html {
  background-color: #292929;
}

body {
  font-family: "Inter";
  margin: 0;
}

* {
  margin: 0;
}